<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Complaint Form</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
  <h1 class="mx-5 mt-5 mb-3"> COMPLAINT </h1>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>

  <form action="create_comp" method="post">
    {% csrf_token %}

    <div class="mb-3 mx-5">
      <label for="fullname" class="form-label">Full name : </label> <br>
      <input type="text" name="fullname" class="form-control w-50" id="fullname"
      aria-describedby="Location" required>
    </div>

    <div class=" mx-5 mb-3">
      <label for="email">Email address</label>
      <input type="email" class="form-control w-50"  name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email">
    </div>

    <div class="mb-3 mx-5">
      <label for="aadhaar" class="form-label">Aadhaar card Number : </label> <br>
      <input type="number" name="aadhaar" class="form-control w-50" id="aadhaar"
      aria-describedby="Location" required>
    </div>

    <div class="mb-3 mx-5">
      <label for="phone" class="form-label"> Phone Number : </label> <br>

      <div style="display: flex; justify-content: space-between; width: 50%;">
      <input type="tel" name="phone" class="form-control w-50" id="phone"
      aria-describedby="Location" required>

      <button type="button" class="btn btn-primary">Send OTP</button>
      
      <!-- <input type="number" name="otp" class="form-control w-50" id="otp"
      aria-describedby="Location" placeholder="OTP sent , Enter OTP here">

      <button type="button" class="btn btn-primary">Verify</button> -->

      </div>


    </div>

    <!-- Title -->
    <div class="mb-3 mx-5">
      <label for="title" class="form-label">Title : </label> <br>
      <input type="text" name="title" class="form-control w-50" id="title"
      aria-describedby="Location" required>
    </div>

    <!-- Severity -->
    <div class="mb-3 mx-5">
      <label for="severity" name="sev" class="form-label">Severity</label> &nbsp;
      <input type="radio" id="html" name="severity" value="1">
      <label for="1">1</label> &nbsp;
      <input type="radio" id="html" name="severity" value="2">
      <label for="1">2</label> &nbsp;
      <input type="radio" id="html" name="severity" value="3">
      <label for="1">3</label> &nbsp;
      <input type="radio" id="html" name="severity" value="4">
      <label for="1">4</label> &nbsp;
      <input type="radio" id="html" name="severity" value="5">
      <label for="1">5</label> &nbsp;
    </div>

    <!--  Department -->
    <div class="mx-5 mb-2 mt-3">
      <label for="department" class="form-label">Department : </label> &nbsp; &nbsp;
      <select name="dept" id="dept" required>
        <option selected="selected">--Select department--</option>
        <option value="education">Education</option>
        <option value="agriculture">Agriculture</option>
        <option value="Womend and Child Development">Womend and Child Development</option>

        <option value="finance">Finance</option>
        <option value="Food and Public Distribution">Food and Public Distribution</option>
        <option value="TeleCommunications(DOT)">TeleCommunications(DOT)</option>

        <option value="Exernal Affairs">Exernal Affairs</option>
        <option value="Labour & Employment">Labour & Employment</option>
        <option value="Minoirty Affairs">Minoirty Affairs</option>
        <option value="Railways">Railways</option>

        <option value="Information Technology">Information Technology</option>
        <option value="Sports">Sports</option>
        <option value="Chemical and Fertizers">Chemical and Fertizers</option>
        <option value="Civil Avaition">Civil Avaition</option>

        <option value="Department of Finance">Department of Finance</option>
        <option value="Health & Family Welfare">Health & Family Welfare</option>

        <option value="Home Affairs">Home Affairs</option>
        <option value="Law and Justice">Law and Justice</option>
        <option value="Minority Affairs">Minority Affairs</option>
        <option value="Rural Development">Rural Development</option>
        <option value="Social Justice and Empowerment">Social Justice and Empowerment</option>
        <option value="Women and Child Development">Women and Child Development</option>
      </select>
    </div>


    <!-- Description -->
    <div class="mb-3 mx-5">
      <label for="description" class="form-label">Description : </label>
      <br>
      <textarea name="desc" id="desc" maxlength="1000" rows="2" cols="77" placeholder="Limit 1000" required></textarea>
    </div>

    <!-- choose files (photo - video ) -->
    <div class="mb-3 mx-5">
      <label for="photo" class="form-label"> Upload a Photo/video : </label>
      <br>
      <input type="file" accept="image/*" id="photo" name="photo">
      <!-- <input type="submit"> -->
    </div>

    <!-- Location -->
    <div class="mb-3 mx-5">
      <label for="location" class="form-label">Location : </label>
      <input type="text" class="form-control w-50" name="location"  placeholder="City" id="location"
      aria-describedby="Location" required>
    </div>

    <div class="mb-3 mx-5">
      <input type="checkbox" id="html" name="send_copy">
      <label for="send_copy" name="send_copy" class="form-label"> Send a copy on E-mail</label> 
    </div>

  
    <button type="submit" class="btn btn-primary mb-3 mx-5">Submit</button>
  </form>


</body>

</html>