{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Public</title>

    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/janta/public.css' %}">

    <style>
       #foo-ul{
  list-style-type: none;
  margin: 10px 43px;
  padding: 0;
  overflow: hidden;
}

#foo-ul > li {
  float: left;
}

#foo-ul > li > a {
  display: block;
  text-decoration: none;
  padding: 8px;
  color: white;
  /* font-weight: bold; */
}
#foo-icons{
  display: flex;
  flex-direction: row;  
  color: white;
  /* font-weight: bold; */
}
    </style>
</head>
<body>

  <nav class="navbar sticky-top navbar-expand-lg" style="background-color: #84C0E3;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">BRING CHANGE</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="position: absolute; right: 50px;">

        <button type="button" class="btn m-2"
          style="background-color: rgb(237,37,78); color:white; border-radius: 25px;" data-toggle="button"
          aria-pressed="false" autocomplete="off">
          <i class="fa fa-plus mx-2" id="icons"></i>
          COMPLAIN
        </button>

        <section class="mb-2" style="margin-top:9px;">
          <a href="/janta/public"> <i class="fa fa-search mx-2" id="icons" style="color:black;  height: 10px;
            width: 10px;"></i></a>
          <a href="#"> <i class="fa fa-bell mx-2" id="icons" style="color:black;"></i></a>
        </section>


      </div>
    </div>
  </nav>

    <input type="text" id="myInput"  onkeyup="search()" placeholder="Search for complaints.." style="margin-left: 650px; margin-top: 30px;" title="Search">

    <div class="pub_comp tb">

    <div class="complaint_list_div">

        {% for comp in comps %}
          <div class="complaint tb" data-name="{{comp.title}}">
            <div class="complaint_left_div tb">
              <h4>1</h4>
            </div>
            <div class="complaint_centre_div">
              <h6>{{comp.title}}</h6>
              <span>{{comp.description}}</span>
            </div>
            <div class="complaint_right_div">
              <a href="status/{{comp.Uuid}}">
                <button type="button"  class="btn btn-primary" style="background-color: rgb(55,198,69,0.25); color: black;">VIEW</button>
              </a>
            </div>
        </div>
        {% endfor %}
        
      </div>

    </div>

    <script>
        function search() {
            comps = document.getElementsByClassName("complaint");

            for (i = 0; i < comps.length; i++) {
                if (comps[i].getAttribute("data-name").toLowerCase().indexOf(document.getElementById("myInput").value.toLowerCase()) > -1) {
                    comps[i].style.display = "flex";
                } else {
                    comps[i].style.display = "none";
                }
            }
}
    </script>

    <!-- Footer -->

  <footer class="text-center text-white" style="background-color: rgba(20,82,119,0.76); color: white;margin-top: 105px;">

    <ul id="foo-ul">
      <li><a href="https://www.ndtv.com/">NEWS</a></li>
      <li><a href="/faq/">FAQ'S</a></li>
      <li><a href="/">ABOUT US</a></li>
      <li><a href=“tel:1800-4250-0025”>CONTACT US</a></li>
      <li><a href="mailto: review.feeback@gmail.com">REVIEW AND FEEDBACK</a></li>
    </ul>
  
  
    <div id="foo-icons">
  <!-- Copyright -->
  <div class="mx-5">
  © 2022 Copyright : &nbsp; BRING CHANGE
  </div>
  
  <div>
  <!-- Section: Social media -->
  <section class="mb-2" style="margin-left: 600px;">
    <a href="#"> <i class="fa fa-facebook mx-2" style="color:black; font-size: 25px;"></i></a>
    <a href="#"> <i class="fa fa-twitter mx-2" style="color:black; font-size: 25px;"></i></a>
    <a href="#"> <i class="fa fa-linkedin mx-2" style="color:black; font-size: 25px;"></i></a>
    <a href="#"> <i class="fa fa-instagram mx-2" style="color:black; font-size: 25px;"></i></a>
  </section>
  </div>
  
    </div>
  </footer>
</body>
</html>